In [ ]:
# The code was removed by Watson Studio for sharing.

# Coordinates of Toronto Neighborhood
This note book gets the latitude and longitude of Toronto neighborhood in the form of a dataframe.

### Import libaraies

In [13]:
import pandas as pd

### Download and load data

In [14]:
coord = pd.read_csv('http://cocl.us/Geospatial_data')
coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Bring the saved neighborhood data

In [15]:
neigh = pd.read_csv(project.get_file('neigh.csv'))
neigh.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Merge the two dataframes

In [18]:
df = pd.merge(neigh, coord, left_on='PostalCode', right_on='Postal Code')[['PostalCode','Borough','Neighborhood','Latitude','Longitude']]
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### Save the result and check size

In [20]:
project.save_data(data=df.to_csv(index=False),file_name='neigh and coord.csv',overwrite=True)
df.shape

(103, 5)